<!DOCTYPE html>
<html lang="zn">
<head>
  <!-- Google Analytics Code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48392988-1', 'mrmi.us');
    ga('send', 'pageview');

  </script>

  <!-- some other meta -->
  {% if page.title == " 404" %}
      <meta http-equiv="refresh" content="5; url=http://mrmi.us" />
  {% endif %}
  

  <title>Mimi&Xianxian - {{ page.title }} </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="verify-v1" content="fI45uNHehVNiO9Dt0Fp7XnsV0Z/ozBTkPoS6RlYAe50=" />
  <meta name="y_key" content="6c948e75a617b12d" />
  <meta name='technorati-claim' content='8QN7CWNH8BSJ' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" media="screen" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Mimi&Xianxian" />
</head>

<body class='{{ page.page_name }}'>
  <div class="container">
    <div class="row">
      <div class="span4 sidebar affix">
        <div class="well">
          <h2 class='site-title'>
            <a href="{{ site.production_url }}">Mi & Xian</a>
          </h2>

          <p>Mimi和Xianxian的爱情庄园.</p>

          <ul id="navigation" class="clearfix">
            <li class='about'><a href='/about/'>About</a></li>
            <li class='archives'><a href='/archives/'>Archives</a></li>
            <li class="twitter"><a href="http://weibo.com/u/3811581244" rel='me' class='url' target='_blank'>@Xianxian</a></li>
            <li class="twitter"><a href="http://weibo.com/wangbaomi" rel="me" class="url" target='_blank'>@Mimi</a></li>
          </ul>
        </div>
      </div>
      <div class="span8 main offset4">
        <div class="well">
          {{ content }}
        </div>
      </div>

      <div id="bottom" class="span8 offset4">
        <div class="well">
          <a href="/about/">About</a> |
          <a href="/archives/">Archives</a> |
          <a href="/atom.xml">feed</a>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>


</body>
</html>

